@import './font-awesome/scss/font-awesome.scss';

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("./BebasNeue-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Comfortaa-Medium";
  src: url("./MuseoSansCyrlRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("./MuseoSansCyrlRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}




