@import "./index.scss";

.root-wrapper {
  display: grid;
  grid-template-columns: 1fr repeat(1, 9fr) 1fr;
  grid-template-rows: auto;
  justify-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("./../sours/header-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  position: fixed;
  .start-block-title {
    h1 {
      position: absolute;
      right: 20%;
      top: 28%;
      color: $COLOR;
      font-family: "BebasNeue-Regular", sans-serif;
      font-size: 60px;
      line-height: 50px;
      margin: 0;
      font-weight: 500;
      animation: animation-title 1s ease both;
      white-space: nowrap;
      text-align: end;
      cursor: grab;
    }
  }
  .header-nav-block,
  .--hnb {
    display: grid;
    grid-column: 2;
    grid-template-columns: 4fr 1fr 4fr;
    width: 100%;
    &__logotype {
      @include header-nav-block__logotype();
      animation: header-nav-block-logotype 1.7s 0.2s ease both;
    }
    &__logotype--active-nav {
      @include header-nav-block__logotype();
      animation: header-block__logotype__active-nav-menu 1.7s 0.3s ease both;
    }
    &__nav-left {
      @include header-nav-block__nav-menu();
      justify-content: end;
      margin-right: 0;
      font-size: 30px;
    }
    &__nav-right {
      @include header-nav-block__nav-menu();
      justify-content: start;
      margin-left: 0;
      font-size: 30px;
    }
    &__nav--disabled {
      display: none;
    }
    &__slider-switcher,
    .--ss {
      @include header-nav-block__slider-switcher();
    }
  }

  //=========================================================================================================================================
  .container-basic-information--active,
  .--cbi {
    @include __container-basic-information();
    animation: show--container-basic-information 0.7s 0.3s ease both;
    &__menu-basic-container,
    .--mbc {
      @include __menu-basic-container();
    }
    &__separator-header {
      @include __separator-header();
    }
    &__button-switch-block {
      @include __button-switch-block();
    }
    // =============================================================>>
    &__main-block-about-me,
    .--mba {
      @include COMMON__container();
      animation: show--animation-opacity 1s 0.5s ease both;
      &__header-block-about,
      .--hba {
        @include __header-block-about();
        &__wrapper-my-photo {
          @include __wrapper-my-photo();
        }
        &__wrapper-description {
          @include __wrapper-description();
        }
      }
      &__row-text-description {
        @include __row-text-description();
      }
    }
    // =============================================================<<

    // =============================================================>>
    &__main-block-portfolio,
    .--mdp {
      @include __main-block-portfolio();
      animation: show--main-block-portfolio 1s 0.3s ease both;
      &__wrapper-carousel-item,
      .--wci {
        @include __wrap-carousel-item();
      }
      &__block-button-carousel {
        @include __block-button-carousel();
      }
    }
    // =============================================================<<

    // =============================================================>>
    &__main-block-education,
    .--mbe {
      @include COMMON__container();
      animation: show--main-block-portfolio 1s 0.3s ease both;
      display: grid;
      grid-row-gap: 20px;
      grid-auto-rows: 220px;
      grid-auto-flow: row;
      &__card-description,
      .--cd {
        @include COMMON__card();
      }
    }
    // =============================================================<<
    &__main-block-work,
    .--mbw {
      @include COMMON__container();
      animation: show--main-block-portfolio 1s 0.3s ease both;
      display: grid;
      grid-row-gap: 20px;
      grid-auto-rows: 220px;
      grid-auto-flow: row;
      &__card-description,
      .--cd {
        @include COMMON__card();
      }
    }
    &__main-block-contact,
    .--mds {
      @include COMMON__container();
      display: grid;
      grid-template-rows: 50px 1fr 2fr 50px;
      grid-auto-flow: row;
      &__block-form,
      .--bf {
        display: grid;
        grid-template-rows: 40px 1fr;
        grid-auto-flow: row;
        grid-row: 3;
        h3 {
          margin: 0;
        }
        &__input-field {
          display: grid;
          grid-template-columns: 1fr 3fr 2fr;
          grid-auto-flow: row;
          grid-row-gap: 20px;
          grid-auto-rows: 40px;
          input[type="text"] {
            grid-column: 2;
            width: 100%;
            justify-self: center;
          }
          input[type="submit"] {
            grid-column: 2;
          }
        }
      }
    }
    // This block has its own styles, which lie in root block.
    // =============================================================>>
    &_main-block-skills,
    .--mbs {
      @include COMMON__container();
    }
    // =============================================================<<

    &__main-block-blog,
    .--mbb {
      @include COMMON__container();
      display: grid;
      position: relative;
      &__wrapper-post,
      .--wp {
        height: auto;
        border: 1px solid #8c8c8c;
        margin: 10px;
        padding: 20px;
        position: relative;
        border-radius: 10px;
        h2 {
          font-family: "BebasNeue-Regular", sans-serif;
          font-size: 50px;
          margin: 0;
          color: $COLOR;
        }
        p {
          margin: 0;
          color: #5b5b5b;
          font-size: 16px;
          padding-bottom: 10px;
          line-height: 25px;
          font-family: "MuseoSansCyrl", Arial, Helvetica, sans-serif;
        }
        &__post-cover {
          width: 100%;
          height: 200px;
          background: #898989;
          border-radius: 10px;
          background-size: 100% auto;
          background-position: center;
          align-self: flex-end;
          margin-top: 5px;
        }
        &__hash-tag {
          display: block;
          font-size: 13px;
          a {
            font-family: "MuseoSansCyrl", Arial, Helvetica, sans-serif;
            color: #898989;
            padding: 10px;
          }
        }
      }
    }
  }

  // styles for a disabled information block. Changes only animation.
  // =============================================================>>
  .container-basic-information--disable {
    @include __container-basic-information();
    animation: hide--container-basic-information 1.5s 1s ease both;
  }
  // =============================================================<<

  //=========================================================================================================================================
  // end block --ssd

  // Main styles block hidden static block. Root style lie in folder ./component/mixin_sds.scss
  //=========================================================================================================================================
  .sub-block-ssd--active,
  .--sds {
    @include root-style--sub-block-ssd();
    bottom: -100%;
    animation: show--hidden-static-block 0.8s 1s ease both;

    &__wrap-title {
      @include nested-style--wrap-title();
      animation: show--avatar-user-and-title 1s 1s ease both;
    }
    &__reverse-background {
      @include nested-style--reverse-background();
    }
    &__main-reverse-background {
      @include nested-style--reverse-background();
      animation: show--background 1s ease both;
      transition: all 0.7s ease;
    }
    &__my-link {
      width: 100%;
      height: 70px;
      top: 0;
      display: grid;
      grid-auto-flow: column;
      align-self: flex-end;
      z-index: 1000;
      grid-column: 1;
      font-size: 20px;
      text-align: center;
      color: #898989;
      transition: all 0.3s ease;
      i {
        align-self: center;
        &:hover {
          color: $COLOR2;
          transition: all 0.3s ease;
        }
      }
    }
  }
  .sub-block-sds--disabled {
    @include root-style--sub-block-ssd();
    bottom: 0%;
    animation: hide--hidden-static-block 1s ease both;
  }
  //=========================================================================================================================================
  // end block --hsb
}

@keyframes show--background {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
