@import "./index.scss";

.root-wrapper {
  display: grid;
  grid-template-columns: 1fr repeat(1, 9fr) 1fr;
  grid-template-rows: auto;
  justify-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("./../sours/header-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  position: fixed;
  .start-block-title {
    h1 {
      position: absolute;
      right: 20%;
      top: 28%;
      color: $COLOR;
      font-family: "BebasNeue-Regular", sans-serif;
      font-size: 60px;
      line-height: 50px;
      margin: 0;
      font-weight: 500;
      animation: animation-title 1s ease both;
      white-space: nowrap;
      text-align: end;
      cursor: grab;
    }
  }
  .header-nav-block,
  .--hnb {
    display: grid;
    grid-column: 2;
    grid-template-columns: 4fr 1fr 4fr;
    width: 100%;
    &__logotype {
      @include header-nav-block__logotype();
      animation: header-nav-block-logotype 2s ease both;
    }
    &__logotype--active-nav {
      @include header-nav-block__logotype();
      animation: header-block__logotype__active-nav-menu 2s ease both;
    }
    &__nav-left {
      @include header-nav-block__nav-menu();
      justify-content: end;
      margin-right: 0;
      font-size: 30px;
    }
    &__nav-right {
      @include header-nav-block__nav-menu();
      justify-content: start;
      margin-left: 0;
      font-size: 30px;
    }
    &__nav--disabled {
      display: none;
    }
    &__slider-switcher,
    .--ss {
      @include header-nav-block__slider-switcher();
    }
  }

  // Main styles block detail description. Root style lie in folder ./component/mixin_ssd.scss
  //=========================================================================================================================================
  .section-detail-description--active,
  .--ssd {
    @include root-style--section-detail-description();
    animation: show--section-detail-description 1s ease both;
    &__nav-menu {
      @include nested-style--nav-menu();
      text-transform: uppercase;
    }
    &__separator-header {
      @include nested-style--separator-nav();
    }
    &__button-switch-block {
      @include nested-style--button-switch-block();
    }
    // Root styles for this block lie in folder ./component/mixin_mbd.scss
    // =============================================================>>
    &__main-block-description,
    .--mbd {
      @include root-style--main-block-description();
      animation: show--main-block-description 1s 0.5s ease both;
      &__header-block-about,
      .--hba {
        @include nested-style--header-block-description();
        &__wrapper-my-photo {
          @include nested-style--wrapper-my-photo();
        }
        &__wrapper-description {
          grid-column: 2 / 4;
          grid-row: 1;
          @include nested-style--wrapper-description();
        }
      }
      &__row-text-description {
        @include nested-style--row-text-description();
        background: #ffffff;
        &:nth-last-child(4) {
          margin-top: 350px;
        }
      }
    }
    // =============================================================<<

    // Root styles for this block lie in folder ./component/mixin_mbp.scss
    // =============================================================>>
    &__main-block-portfolio,
    .--mdp {
      @include root-style--main-block-portfolio();
      animation: show--main-block-portfolio 1s 0.3s ease both;
      &__wrapper-carousel-item,
      .--wci {
        @include nested-style--wrap-carousel-item();
      }
      &__block-button-carousel {
        @include nested-style--block-button-carousel();
      }
    }
    // =============================================================<<

    // This block use style description-block from folder ./component/mixin_mbd.scss
    // =============================================================>>
    &__main-block-education,
    .--mbe {
      @include root-style--main-block-description();
      animation: show--main-block-portfolio 1s 0.3s ease both;
      display: grid;
      grid-row-gap: 20px;
      grid-auto-rows: 220px;
      grid-auto-flow: row;
      &__card-description,
      .--cd {
        display: grid;
        grid-template-columns: 2fr 1fr;
        min-height: 220px;
        border-radius: 10px;
        margin: 10px;
        position: relative;
        background: rgba($color: #afafaf, $alpha: 0.3);
        h2 {
          font-family: "BebasNeue-Regular", sans-serif;
          font-size: 40px;
          margin: 0;
          padding: 15px;
          color: $COLOR;
          padding-bottom: 0;
        }
        $round-width: (
          1: 70%,
          2: 50%,
          3: 100%,
          4: 80%,
        );
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          padding-left: 5%;
          li {
            background: #bfbfbf;
            color: $COLOR;
            font-size: 14px;
            font-family: "MuseoSansCyrl", Arial, Helvetica, sans-serif;
            margin: 5px;
            padding-left: 10px;
            border-radius: 10em;
            @each $index, $width in $round-width {
              &:nth-last-child(#{$index}) {
                width: $width;
              }
            }
          }
        }
        &__decor-column {
          grid-column: 2;
          z-index: -10;
          display: block;
          margin: auto;
          img {
            width: 250px;
            height: auto;
          }
        }
        &__link-them {
          position: absolute;
          bottom: 10px;
          left: 38px;
          font-size: 18px;
          display: grid;
          grid-auto-flow: column;
          grid-auto-columns: 40px;
          a {
            color: #5e5e5e;
            &:active {
              color: #5e5e5e;
            }
          }
          i:hover {
            color: $COLOR;
          }
        }
      }
    }
    // =============================================================<<
    &__main-block-work,
    .--mbw {
      @include root-style--main-block-description();
      animation: show--main-block-portfolio 1s 0.3s ease both;
      display: grid;
      grid-row-gap: 20px;
      grid-auto-rows: 220px;
      grid-auto-flow: row;
      &__card-description,
      .--cd {
        display: grid;
        grid-template-columns: 2fr 1fr;
        min-height: 220px;
        border-radius: 10px;
        margin: 10px;
        background: rgba($color: #afafaf, $alpha: 0.3);
        h2 {
          font-family: "BebasNeue-Regular", sans-serif;
          font-size: 40px;
          margin: 0;
          padding: 15px;
          color: $COLOR;
          padding-bottom: 0;
        }
        $round-width: (
          1: 70%,
          2: 50%,
          3: 100%,
          4: 80%,
        );
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          padding-left: 5%;
          li {
            background: #bfbfbf;
            color: $COLOR;
            font-size: 14px;
            font-family: "MuseoSansCyrl", Arial, Helvetica, sans-serif;
            margin: 5px;
            padding-left: 10px;
            border-radius: 10em;
            @each $index, $width in $round-width {
              &:nth-last-child(#{$index}) {
                width: $width;
              }
            }
          }
        }
        &__decor-column {
          grid-column: 2;
          z-index: -10;
          display: block;
          margin: auto;
          img {
            width: 250px;
            height: auto;
          }
        }
      }
    }
    // This block has its own styles, which lie in root block.
    // =============================================================>>
    &_main-block-skills,
    .--mbs {
      @include root-style--main-block-description();
    }
    // =============================================================<<
  }

  // styles for a disabled information block. Changes only animation.
  // =============================================================>>
  .section-detail-description--disable {
    @include root-style--section-detail-description();
    animation: hide--section-detail-description 1.5s 1s ease both;
  }
  // =============================================================<<

  //=========================================================================================================================================
  // end block --ssd

  // Main styles block hidden static block. Root style lie in folder ./component/mixin_sds.scss
  //=========================================================================================================================================
  .sub-block-ssd--active,
  .--sds {
    @include root-style--sub-block-ssd();
    bottom: -100%;
    animation: show--hidden-static-block 1s 0.5s ease both;

    &__wrap-title {
      @include nested-style--wrap-title();
      animation: show--avatar-user-and-title 1s 1s ease both;
    }
    &__reverse-background {
      @include nested-style--reverse-background();
    }
    &__main-reverse-background {
      @include nested-style--reverse-background();
      animation: show--background 1s ease both;
      transition: all 0.7s ease;
    }
    &__my-link {
      width: 100%;
      height: 70px;
      top: 0;
      display: grid;
      grid-auto-flow: column;
      align-self: flex-end;
      z-index: 1000;
      grid-column: 1;
      font-size: 20px;
      text-align: center;
      color: #898989;
      transition: all 0.3s ease;
      i {
        align-self: center;
        &:hover {
          color: $COLOR2;
          transition: all 0.3s ease;
        }
      }
    }
  }
  .sub-block-sds--disabled {
    @include root-style--sub-block-ssd();
    bottom: 0%;
    animation: hide--hidden-static-block 1s ease both;
  }
  //=========================================================================================================================================
  // end block --hsb
}

@keyframes show--background {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
