$COLOR: #393939;
$COLOR2: #dcdcdc;

@mixin  style-gen-item {
  grid-column: 2;
  width: 100%;
  height: 40px;
  background: $COLOR;
  box-shadow: 6px 6px 0px 0px rgba(62, 62, 62, 0.75);
  align-self: center;
  justify-self: center;
  h3 {
    text-align: center;
    margin: 0;
    color: $COLOR2;
    letter-spacing: 1px;
    font-family: "BebasNeue-Regular", sans-serif;
    font-size: 30px;
  }
}

@mixin style-item {
  width: 100%;
  height: auto;
  background: $COLOR2;
  p {
    text-align: center;
    text-transform: uppercase;
    font-family: "Comfortaa-Medium", sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: $COLOR;
  }
}

.wrapper-section-skills,
.--wss {
  width: 98%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 100px repeat(12, 1fr);
  grid-row-gap: 20px;
  height: 1200px;
  animation: show--my-skill 1s .5s ease both;
  &__general-title {
    grid-column: 1 / 4;
    padding: 20px;
    h2 {
      font-family: "BebasNeue-Regular", sans-serif;
      font-size: 50px;
      color: $COLOR;
      margin: 0;
      margin-top: 20px;
      line-height: 23px;
    }
    p {
      font-size: 25px;
      margin: 0;
      color: #5b5b5b;
      font-family: "BebasNeue-Regular", sans-serif;
    }
  }

  &__block-html, .--html {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: auto;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    span {
      grid-column: 1 / 4;
      width: 100%;
      height: .5px;
      background: $COLOR2;
    }
    &__col-one {
      @include style-item();
      grid-column: 1;
      align-self: center;
    }
    &__col-two {
      @include style-gen-item();
      grid-column: 2;
      grid-row: 1 / 3;
    }
    &__col-three {
      @include style-item();
      grid-column: 3;
      align-self: center;
    }
    &__col-two-js {
      @include style-gen-item();
      grid-column: 2;
      grid-row: 1 / 6;
    }
    &__col-two--css {
      @include style-gen-item();
      grid-column: 2;
      grid-row: 1 / 5;
    }
    &__col-two--scss {
      @include style-gen-item();
      grid-column: 2;
      grid-row: 1 / 3;
    }
    &__additional-description {
      @include style-item();
      grid-column: 1 / 4;
      p {
        font-size: 14px;
        line-height: 15px;
        
        text-transform: none; 
      }
    }
  }
}


@keyframes show--my-skill {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


