@mixin __header-block-about {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 350px;
  background: linear-gradient(90deg, rgba($color: #000000, $alpha: 0) 1%, rgba($color: #8d73df, $alpha: 0.2) 60%);
  display: grid;
  grid-template-columns: 2fr 2fr 5fr;
  grid-template-rows: repeat(2, 1fr);
}
@mixin __wrapper-my-photo {
  justify-self: flex-end;
  align-self: flex-end;
  width: 100%;
  height: 100%;
  background-image: url("./../../../sours/photo/photo.png");
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: bottom;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
@mixin __row-text-description {
  background: #ffffff;
  h2 {
    margin: 0;
    font-family: "BebasNeue-Regular", sans-serif;
    color: $COLOR;
    font-weight: 400;
    font-size: 50px;
    padding-top: 20px;
  }
  p {
    margin: 0;
    font-family: "Comfortaa-Medium", sans-serif;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 40px;
    padding-right: 20px;
  }
  &:nth-child(2) {
    margin-top: 350px;
  }
}
@mixin __wrapper-description {
  grid-column: 2 / 4;
  grid-row: 1;
  h2 {
    font-size: 70px;
    color: $COLOR;
    margin: 0;
    margin-top: 50px;
    margin-left: 40px;
    justify-self: start;
    font-weight: 400;
    letter-spacing: -1px;
    font-family: "BebasNeue-Regular", sans-serif;
  }
  ul {
    padding: 0;
    margin: 0;
    grid-row: 3;
    list-style: none;
    padding-left: 10%;
    li {
      font-family: "Comfortaa-Medium", sans-serif;
      font-size: 17px;
      color: $COLOR;
      margin: 5px;
      font-weight: 400;
      @for $var from 1 to 5 {
        &:nth-child(#{$var}) {
          padding-left: 20px * $var;
        }
      }
    }
  }
}
