@mixin root-style--sub-block-ssd {
  width: 100%;
  position: absolute;
  height: 100%;
  display: grid;
  justify-items: end;
  grid-template-columns: 70px 4fr 9fr;
  grid-template-rows: 320px auto;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  &::after {
    z-index: 2;
    content: "";
    background: rgba($color: #000000, $alpha: 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
@mixin nested-style--block-user-avatar {
  width: 200px;
  height: 200px;
  background: $COLOR2;
  border: 2px solid $COLOR;
  border-radius: 10em;
  grid-column: 2;
  z-index: 300;
  position: relative;
  overflow: hidden;
  margin: 20px;
  grid-row: 1;
  img {
    width: 100%;
    height: auto;
  }
}
@mixin nested-style--wrap-title {
  align-self: end;
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 20px;
  h2 {
    margin: 0;
    font-family: "BebasNeue-Regular", sans-serif;
    color: $COLOR2;
    font-size: 40px;
    font-weight: 400;
    text-align: end;
    margin: 0;
    line-height: 20px;
  }
  span {
    animation: appears-block-user 1s 2s ease both;
    color: #909090;
    font-family: "BebasNeue-Regular", sans-serif;
    font-size: 25px;
  }
}

@mixin nested-style--reverse-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: right;
  background-repeat: no-repeat;
}

@keyframes show--avatar-user-and-title {
  from {
    opacity: 0;
    margin-right: 40px;
  }
  to {
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes hide--hidden-static-block {
  from {
    border: 0%;
  }
  to {
    bottom: -100%;
  }
}

@keyframes show--hidden-static-block {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0%;
  }
}
